img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    image-rendering: -moz-crisp-edges !important; /* Firefox */
    image-rendering: -o-crisp-edges !important; /* Opera */
    image-rendering: -webkit-optimize-contrast !important; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges !important;
    -ms-interpolation-mode: nearest-neighbor !important;
  }

span, p,h1,h2 {
    color: white !important;
  }

body::before {
  content: ' ';
  display: block;
  /* background: linear-gradient(-150deg, #f87408, #a71b6c); */
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -10;
}


.parallax-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/stars.png');
  }

.support {
  padding:0.8%;
  background-color:#8500ff;
  cursor: pointer;
}

.support :hover {
  background-color:#9f38ff;
}

.twitch-player {
  background-color:rgba(255, 255, 255, 0.1);
  border-radius:5px;
  padding:0.8%;
}

@media only screen and (min-width: 992px) {
  .twitch-player {
    height:40vw;
  }
}

@media only screen and (min-width: 1200px) {
  .twitch-player {
    height: 480px;
  }
}

/* Tablet and Mobile */

@media only screen and (max-width: 991px) {
  .twitch-player {
    height: 480px !important;
  }
}

/* Mobile */

@media only screen and (max-width: 767px) {
  .twitch-player {
    height:50vw !important;
  }
}




.wave {
  animation: wave 1.2s alternate infinite ease-in-out;
}


@keyframes wave {
  to { transform: translatey(50px);}
}